{% extends 'base.html' %}
    {% block title %}
    피로그래밍 자기소개기하기~
    {% endblock %}

    {% block head %}
        <style type="text/css">
        ul {
            list-style: none;
        }
        </style>
    {% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="text-center">About 현택<small class="text-muted"><del>#분명 #전공은 #맞는데....</del></small></h1>
        <div class="row">
            <ul>
                <li>13년 한양대 정보시스템학과 입학</li>
                <li>14년 공군 중앙전산소 입대</li>
                <li>16년 복학!!</li>
            </ul>
        </div>
        <div class="row col-sm-12">
            복학 후 열심히 공부를 하려했다. 하지만..
        </div>
        <blockquote class="blockquote-reverse">
            <p>형 나는 이거 도저히 모르겠어요... 이것 좀 알려주세요 ㅠㅠ 도저히 이해가 안가</p>
            <footer>이틀전 같은 문제 물어봤을때 자신있게 설명하던 주은이가 <span class="text-danger">시험 5분전 한말</span></footer>
        </blockquote>
        <p>
            <div class="lead">주은이의 인성에 관한 심오한 고찰</div>
            이해하기 힘든 그의 연막.
            <br>평소에는 잠잠하다가도 시험기간만 되면 이상하게 주위 사람들에게 연막을 쳐서 호흡을 곤란하게 만든다.
            <br>정시템의 모든 13학번과 어떤 11학번을 농락하는 그의 행보가 심상치 않다.
            <br>물 만난 고기마냥 모든 이들을 혼란스럽게 하는 그의 속마음은 도대체 알수가 없다.
            <br>결국 첫학기는 멘탈만 털리게 되는데...
        </p>
        <br>
        <p class="lead">
            <span class="glyphicon glyphicon-list"></span> 요즘 빠져있는 것
            <ul>
                <li>
                    <a href="javascript:void()" title="배틀넷 아이디" data-toggle="popover" data-placement="right" data-content="네파리안#3212">overwatch</a><span class="glyphicon glyphicon-ok"></span>
                </li>
                <li>
                    <div class="btn-group">
                        <a href="javascript:void()" data-toggle="dropdown">python3<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://tryhelloworld.co.kr/courses/파이썬-입문" target="_blank">tryhelloworld.co.kr</a></li>
                            <li><a href="https://docs.python.org/3/" target="_blank">python.org</a></li>
                        </ul>
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </li>
            </ul>
        </p>
    </div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    $('[data-toggle="popover"]').popover();
});
</script>
{% endblock%}
